<ion-view view-title="Campaign Bank" class="myUnique3">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
     <div class="list half">
            <div  ng-repeat="campaign in allCampaigns" on-finish-render="ngRepeatFinished" ng-if="$even" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg"  >
                    <h2>{{campaign.name}}</h2>
                    <img ng-if="campaign.image" class="full-image" src="{{campaign.image.src}}">
                    <img ng-if="!campaign.image" class="full-image" src="img/icon.png">
                </div>
                <div class=" text2 item tabs tabs-secondary tabs-icon-left" style="background-color: rgba(0, 0, 0, 1);">
                    <a ng-audio="{{campaign.audio.src}}" my-src="{{campaign.audio.src}}" disablePreload="true" class="tab-item stable-bg balanced">
                        <i class="icon ion-ios-musical-notes blay-ztop"></i>
                        Play Campaign 
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-information-circled"></i>
                        More info
                    </a>
                </div>
            </div>
        </div>
                <div class="list half">
            <div  ng-repeat="campaign in allCampaigns" on-finish-render="ngRepeatFinished" ng-if="$odd" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg"  >
                    <h2>{{campaign.name}}</h2>
                    <img ng-if="campaign.image" class="full-image" src="{{campaign.image.src}}">
                    <img ng-if="!campaign.image" class="full-image" src="img/icon.png">
                </div>
                <div class=" text2 item tabs tabs-secondary tabs-icon-left" style="background-color: rgba(0, 0, 0, 1);">
                    <a ng-audio="{{campaign.audio.src}}" my-src="{{campaign.audio.src}}" disablePreload="true" class="tab-item stable-bg balanced">
                        <i class="icon ion-ios-musical-notes blay-ztop"></i>
                        Play Campaign 
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-information-circled"></i>
                        More info
                    </a>
                </div>
            </div>
        </div>



    </ion-content>
</ion-view>
