<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/notesbackground.jpg) center; background-size: cover;">

   <div class="ionic login animate-pan-in-left"  ng-app="login">
        <div class="hero no-header flat">

            <div class="content">
                                <i class="ion-  hero-icon " style = 'background-image: url(img/Teicon.png);background-repeat: no-repeat;
                                background-position: 50%;
                                border-radius: 50%;
                                width: 145px;
                                height: 145px;'></i>
                
                <h1 class="text">Login</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Email" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced waves-effect waves-button waves-light">Login</button>
        </div>

                <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900" ng-click="login('google')">Google+</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900" ng-click="login('facebook')">Facebook</button>
        </div>
        <div class="button-bar ">
            <button class="button button-small button-outline button-positive light-bg icon-left ion-social-facebook waves-effect waves-button waves-light">Facebook</button>
            <button class="button button-small button-outline button-assertive light-bg icon-left ion-social-google waves-effect waves-button waves-light">Google+</button>
            </div>


    </div>


        <!--<div class="hero no-header flat">
            <div class="ionic content">
                <div class="app-icon"></div>
                <h2>Welcome To Money Tunes</h2>
                <i class=" icon hero-icon balanced-bg">
                   <img class="hero-image" src="img/icon.png"></img>

                </i>
                <div class="center" style = 'background-image: url(img/icon.png);background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 192px;
    height: 192px;'></div>

            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Email" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Login</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900" ng-click="login('google')">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900" ng-click="login('facebook')">Facebook</button>
        </div>-->
    </ion-content>
</ion-view>
