<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar menu-logo"></span>
            <h2 class="text menu-hader">Money Tunes</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header ">

             <div class="list">

              <a ng-if="!MainUserBinding.isFull" class="item item-icon-left" menu-close ui-sref="app.profile">
                <i class="icon ion-ios-person"></i>
                <div class="dark">Profile</div>
                <span class="item-note">
                  {{MainUserBinding.phone_number}}
                </span>
                
              </a>
              <a ng-if="MainUserBinding.isFull" class="item item-avatar item-icon-right" menu-close ui-sref="app.profile"> 
                    <img ng-src="{{MainUserBinding.profileImageURL}}">
                    <h2 class="dark">{{MainUserBinding.displayName}}</h2>
              </a>

              <a class="item item-icon-left" menu-close ui-sref="app.wallet-connect">
                <i class="icon ion-cash dark"></i>
                <div class="dark">Balance:</div>
                <span class="badge badge-balanced">{{MainUserBind.balance | currency}}</span>

              </a>

              

              <a class="item item-icon-left calm-900 " menu-close ui-sref="app.wallet-connect">
                <i class="icon ion-card"></i>
                <div class="dark">Conect To Wallet</div>

              </a>
              <a class="item item-button-right item-icon-left " ng-if="!MainUserBinding.isFull" ng-disabled="MainUserBinding.isFull" menu-close ui-sref="app.sing-up">
                <i class="icon ion-log-in balanced "></i>
                <div class="dark">Sing-up</div> 
                <button class="button button-positive " ng-click="socialLogin('facebook')">
                  <i class="icon ion-social-facebook facebook-button"></i>
                </button>   
              </a>
               <a class="item item-icon-left assertive" menu-close ng-click="logout()">
                <i class="icon ion-log-out "></i>
                <div class="dark">Logout</div>
              </a>
              
              <div class="item item-divider">
                
              </div>

              <a class="item item-icon-left" menu-close ui-sref="app.gallery">
                <i class="icon ion-pricetags royal"></i>
                <div class="dark">All Campaigns</div>
                <span class="badge badge-royal">{{campaignsCount}}</span>
              </a>
              <a class="item item-icon-left" menu-close ui-sref="app.allUsers">
                <i class="icon ion-person-stalker calm"></i>
                <div class="dark">All Users</div>
                <span class="badge badge-light">{{usersCount}}</span>
              </a>
               <a class="item item-icon-left" menu-close ui-sref="app.settings">
                <i class="icon ion-settings dark"></i>
                <div class="dark">Settings</div>
                
              </a>


            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
