<ion-view view-title="Fixed Users" class="myUnique1">
    <ion-content  ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                
                    
                    <a ng-click="showDescription(user)"   ng-repeat="user in fixedUsers" on-finish-render="ngRepeatFinished" class="item item-avatar item-icon-right shadower">
                    
                    <img ng-if="user.profileImageURL" ng-src="{{user.profileImageURL}}">
                    <img src="img/no-image.png" ng-if="!user.profileImageURL">
                    <div class="backgrounder shadower" style="margin-right:20%">
                    <h2 class="white">{{user.displayName}}</h2>
                    <p class="white">{{user.phone_number}}</p>
                    </div>
                    <i class=" icon ion-ios-info energized muted"></i>
                    
                     </a>
                
                
                
            </div>
        </div>
    </ion-content>
</ion-view>