 <ion-modal-view class="user-option-modal-location">

<user-options user ="{{selectedUser}}"></user-options>

  </ion-modal-view>
<!--<ion-modal-view>
  <div class="users-options-modal">
	<h1>This is a modal.</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat ultrices lorem, eu rhoncus dolor sollicitudin et. Suspendisse diam mauris, porta nec sollicitudin et, varius a ipsum.</p>
	
	<a class="users-options-modal-button" href="javascript:void(0);">Yes</a>
	<a class="users-options-modal-button" href="javascript:void(0);">No</a>
</div>
</ion-modal-view>-->