/* Empty. Add your own CSS if you like */
/*.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 80%;
    margin-top:0;
    //margin-left: 10%;
}*/

  .map-modal-location {
  background-color: #666666;  
     width: 90%; 
     height: 80% ; 
     top: 15%; 
     left: 5%; 
     
     min-height: 0px !important;
     
  }
  .user-option-modal-location {  
     width: 70%; 
     height: 30% ; 
     top: 30%; 
     left: 15%; 
     
     min-height: 0px !important;
     
  }
  .change-language-modal-location{
     width: 70%; 
     height: 40% ; 
     top: 30%; 
     left: 15%; 
     
     min-height: 0px !important;
  }
    .dialpad-modal {  
     width: 100%; 
     height: 50% ; 
     top: 40%; 

     
     min-height: 0px !important;
     
  }
.Aligner {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.Aligner-item {
  max-width: 80% !important;
}

.Aligner-item--top {
  align-self: flex-start !important;
}

.Aligner-item--bottom {
  align-self: flex-end !important;
}
.campaignImage{
  width: 50%;
  margin-left: 25%;

}


.map-view{
  background-color: #555555 !important;
}
.map > div{
  height: 100% ;
  width: :400px !important;
}
.incoming-buttons{ 
  background-color: #555555 !important;
  border-color: #555555 !important;
  height: 100%;
}
.dropdown-list{ 
  //background-color: #555555 !important;
  width: auto !important;
  max-width: 80%;
  margin-left: 10%;
 
}
.wtf{
  background-color: #555555 !important;
  width: auto !important;
  max-width: 80%;
}
.callingBG{
  background-color: #555555 !important;
  background-size: cover !important;
  
}
.avatarPos {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 45%; right: 0;
  height: 15%;
  width: 25%;
  text-align: center;
  z-index: 100;
}
.spinnerPos {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 15%; right: 0;
  height: 100%;
  text-align: center;
}

.spinnerCalling svg {
  width: 70% !important;
  height: 70% !important;
}
.text {
  //background-color: #428EFF;
  color: #FFFFFF;
  font-weight: bolder;
  //max-font-size: 30px;
  //font-size: 20px;
  font-variant: normal;
  text-align: center;
  text-shadow: 3px 3px 3px #120000;
}
.text2 {
  //background-color: #428EFF;
  color: #FFFFFF;
  font-weight: bolder;
  //max-font-size: 30px;
  //font-size: 20px;
  font-variant: normal;
  text-align: center;
  text-shadow: 0px 0px 0px #120000;
}
.shadower{
  text-shadow: 3px 3px 3px #120000;
}
.mybottom{
  margin-top:90% !important;
}
.full-screen{
  width:100% !important;
  height: 100% !important;
}
.backgrounder{
  
  
  background-color: #428EFF;
  background-position: 50%;
  border-radius: 50%;
  
  text-align: center;
}
.white{
 color: #EEEEEE !important;
 font-variant: normal;
}
.shadowest{
  text-shadow: 7px 7px 7px #120000;
}
.dialInput{
  //background-color: #428EFF !important;
  color: #DDDDDD !important;
  font-weight: bolder;
  max-font-size: 30px !important;
  font-size: 25px !important;
  font-variant: normal;
  text-align: center;
  text-shadow: 3px 3px 3px #120000;
}
.dialInputModal{
  color: #111111 !important;
  font-weight: bolder;
  max-font-size: 30px !important;
  font-size: 20px !important;
  font-variant: normal;
  text-align: center;
  
}
.myUnique1 {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          background: url(../img/notesbackground.jpg) center;
           background-size: cover;
        }
        .myUnique2 {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          background: url(../img/FLOATING-MUSIC-NOTES.jpg) center;
           background-size: cover;
        }
        .myUnique3 {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          background: url(../img/floating-notes.jpg) center;
           background-size: cover;
        }  
 .myUnique4 {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          background: url(../img/MTPOClogin.jpg) center;
           background-size: cover;
        }             
 .app-logo
 {
 	background-image: url(../img/Teicon.png);
 	background-repeat: no-repeat;
                                background-position: 50%;
                                border-radius: 50%;
                                width: 145px;
                                height: 145px;
 }  
 .play-stop-text{
  max-font-size: 10px !important;
  text-shadow: 3px 3px 3px #120000;
 }     

